.adoption {
   display: flex;
   flex-direction: column;
   width: 100%;
   height: 100vh;
}
.adopt-header {
 text-align: center;
 padding: 10px;
}

.people-list {
  text-align: center;
}

.people-list ul {
    list-style-type: none;
}
